.app {
    background: var(--background, black);
}

.cardCateg {
    background: black;
    display: inline-block;
    border-radius: 20px;
    margin: 1rem;
}

.cardCateg h4 {
    color: var(--white, #FFF);
    padding-left: 10%;
}

.cardCateg:hover {
    scale: 0.95;
}
